html {
    min-height: 100%;
    position: relative;
}

html, body {
    margin: 0;
    padding-bottom: 55px !important;
}

body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', "Times New Roman", sans-serif;
    font-size: 15px;
}

nav {
    height: 25.92px;
    margin: 27px 2.78% 0 30.72px;
}

.logo {
    min-width: 40px;
    width: 43.16px;
    left: -30.72px;
}

.flag {
    width: 26px;
    height: 15px;
    border-radius: 3px;
    margin: 1.38px;
    box-shadow: 1px -1px 2px grey;
}

main {
    margin-top: 60.48px;
}

.title-box {
    padding-left: 106px;
}

.headers {
    color: #233646;
    font-size: 34px;
    letter-spacing: 0;
    line-height: 44.92px;
    margin-bottom: 12.6px;
}

.title {
    font-size: 29.7px;
    /*line-height: 7vh;*/
}

.title-info {
    font-size: 23px;
    margin-bottom: 22.72px;
}

.buttons {
    height: 57px;
    width: 316.9px;
    margin-bottom: 46.39px;
}

.main_button {
    width: 70%;
    height: 100%;
    background: #35B8EC;
    color: #ffffff;
}

.whiteButton {
    color: #2098D1;
    height: 100%;
    background-color: #ffffff;
}

#sign-up-btn:hover, #sign-in-btn:hover {
    box-shadow: 0 0 3px #35B8EC;
    color: #ffffff;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color, background-color;
}


.buttons .btn {
    letter-spacing: 0;
    text-align: center;
}

.buttons .btn:focus {
    box-shadow: none;
}

.info-text {
    text-align: justify;
    height: 14.16%;
    opacity: 0.85;
    color: #4d718d;
    font-size: 16.9px;
    line-height: 25.92px;
    margin-bottom: 12.6px;
}

.info-text p {
    width: 82.1%;
}

.location-info {
    color: #333333;
    font-weight: bold;
    line-height: 13.82px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.carousel-indicators li {
    background-color: #4a4b4b;
    width: 5.22px;
    height: 6px;
    bordcarouseler-radius: 50%;
    position: relative;
    bottom: -60.48px;
    left: 25%;
}

.carousel-indicators .active {
    background-color: black;
    border-radius: 0;
    width: 8px;
    height: 7px;
    position: relative;
}


.main-carousel .carousel-inner {
    position: relative;
    left: 20px;
    width: 491.52px;
    height: 475.2px;
}

.coming-carousel .carousel-inner {
    height: 414.72px;
    width: 230.4px;
    overflow: hidden;
}

.main-carousel div .carousel-item,
.main-carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.coming-carousel div .carousel-item,
.coming-carousel div .carousel-item img {
    height: 100%;
}

.info-footer {
    color: #233646;
    height: 75.9px;
    bottom: 86.4px;
    z-index: -1;
}

.info-footer h4 {
    font-size: 22.28px;
    font-weight: bolder;
    color: #233646;
}

.info-footer .hours {
    width: 368.6px;
    color: #233646;
}

.footer p {
    font-size: 15.36px;
}

.info-footer h6 {
    font-size: 15.36px;
    color: #a1a3a8;
    margin-right: 49px;
}


.container-fluid {
    padding-left: 45px;
}

@media (max-width: 1478px) {
    .coming-carousel{
        visibility: hidden;
    }
    .carousel-indicators{
        margin-left: 0;
        margin-right: 0;
    }
    .main-carousel{
        position: relative;
        left: 140px;
    }
}