<div th:fragment="buttons">
    <button style="border-radius: 20px">
                <span
                        style='height: 10px;width: 10px;background-color: #35B8EC;border-radius: 50%;display: inline-block'>
                </span>
        Pre-school
    </button>

    <button style='border-radius: 20px'>
                <span
                        style='height: 10px;width: 10px;background-color: #35B8EC;border-radius: 50%;display: inline-block'>
                </span>
        Elementary
    </button>

    <button style='border-radius: 20px'>
                <span
                        style='height: 10px;width: 10px;background-color: #35B8EC;border-radius: 50%;display: inline-block'>
                </span>
        Middle
    </button>
    <button style="border-radius: 20px">
                <span
                        style='height: 10px;width: 10px;background-color: #35B8EC;border-radius: 50%;display: inline-block'>
                </span>
        High
    </button>
    <button style="border-radius: 20px">
                <span
                        style='height: 10px;width: 10px;background-color: #35B8EC;border-radius: 50%;display: inline-block'>
                </span>
        Students
    </button>
    <button style="border-radius: 20px">
                <span
                        style='height: 10px;width: 10px;background-color: #35B8EC;border-radius: 50%;display: inline-block'>
                </span>
        Individuals
    </button>
    <button style='border-radius: 20px'>
                <span
                        style='height: 10px;width: 10px;background-color: #35B8EC;border-radius: 50%;display: inline-block'>
                </span>
        Event
    </button>
</div>